<?php
/* @var App\Models\Model[] $models */
?>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>Форма</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <h1>Форма</h1>

            <div class="row">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Сама табличка</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <thead><tr><th>id</th><th>Адрес</th><th>Кол-во квартир</th></tr></thead>
                                    <tbody>
                                    <?php foreach($models as $model): ?>
                                        <tr><td><?=$model->id?></td><td><?=$model->address?></td><td><?=$model->flats?></td></tr>
                                    <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <form action="/send" method="post" class="form-inline" id="form">
                    <div class="form-group">
                        <label for="houses">Дома</label>
                        <select name="house" id="houses">
                            <?php foreach($models as $model): ?>
                                <option value="<?=$model->id?>" data-flats="<?=$model->flats?>"><?=$model->address?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="flats">Квартиры</label>
                        <select name="flat" id="flats"></select>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>

        </div>



        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
